<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <aside
    class="w-64 bg-gradient-to-b from-blue-900 to-gray-400 text-white flex flex-col justify-between shadow-xl"
  >
    <div>
      <div class="p-6 text-xl font-bold tracking-wide border-b border-white/20">
        📦 Inventory Dashboard
      </div>
      <nav class="space-y-1 px-4 mt-4">
        <div
          (click)="selectedTab = 'create'"
          class="flex items-center gap-3 p-3 rounded-lg cursor-pointer transition duration-200 hover:bg-blue-700"
          [ngClass]="{
            'bg-white text-blue-800 font-semibold shadow-md':
              selectedTab === 'create'
          }"
        >
          ➕ <span>Create Inventory Transaction</span>
        </div>
        <div
          (click)="selectedTab = 'view'"
          class="flex items-center gap-3 p-3 rounded-lg cursor-pointer transition duration-200 hover:bg-blue-700"
          [ngClass]="{
            'bg-white text-blue-800 font-semibold shadow-md':
              selectedTab === 'view'
          }"
        >
          📋 <span>View Inventory Transaction</span>
        </div>
        <div
          (click)="selectedTab = 'products'"
          class="flex items-center gap-3 p-3 rounded-lg cursor-pointer transition duration-200 hover:bg-blue-700"
          [ngClass]="{
            'bg-white text-blue-800 font-semibold shadow-md':
              selectedTab === 'products'
          }"
        >
          🧾 <span>View All Products</span>
        </div>

        <div
          (click)="selectedTab = 'profile'"
          class="flex items-center gap-3 p-3 rounded-lg cursor-pointer transition duration-200 hover:bg-blue-700"
          [ngClass]="{
            'bg-white text-blue-800 font-semibold shadow-md':
              selectedTab === 'profile'
          }"
        >
          👤 <span>Profile</span>
        </div>
      </nav>
    </div>

    <!-- Logout -->
    <div
      class="flex items-center gap-2 p-3 m-4 rounded-md text-red-300 hover:text-white hover:bg-red-600 cursor-pointer transition duration-200"
    >
      🚪 <span>Logout</span>
    </div>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 p-8 overflow-auto">
    <app-view-inventory-transactions
      *ngIf="selectedTab === 'view'"
    ></app-view-inventory-transactions>
    <app-create-inventory-transaction
      *ngIf="selectedTab === 'create'"
    ></app-create-inventory-transaction>
    <app-view-all-products *ngIf="selectedTab === 'products'"></app-view-all-products>
    <!-- <app-profile *ngIf="selectedTab === 'profile'"></app-profile> -->
  </main>
</div>
